<div class="row justify-content-center">
<h1 class="genre-font">Hip hop Albums</h1>
    <% @vinyls.each do |vinyl| %>
      <div class="product-card col-4 px-0 m-5">
        <div class= "card-body">
          <div class="wrapper">
            <%= image_tag(("slider.png"), class:"slide-out-record")%>
            <%= link_to vinyl_path(vinyl), class: "link" do %>
            <%= cl_image_tag  vinyl.cover_image.key, class:"index-image"%>
            <% end %>
          </div>
          <h5 class="card-title py-2 px-3"><%= vinyl.album_title %></h5>
          <p class="card-text px-3 pb-2 "> By: <%= vinyl.artist %></p>
          <p class="card-text px-3 pb-2"> Price: <%= vinyl.price %> £</p>
          <p class="card-text px-3 pb-2">Available from - <strong><%= vinyl.user.first_name %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
