
<div class="container">
  <h1 class ="d-flex justify-content-center"></h1>

  <div class="genre-bar d-flex mt-4">

    <div class="genre-icon">
      <%= link_to pop_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/microphone.png"), class:"icon")%>
        <p>pop</p>
      <% end %>
    </div>

    <div class="genre-icon">
      <%= link_to classical_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/conductor.png"), class:"icon")%>
        <p>classical</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to jazz_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/saxophone.png"), class:"icon")%>
        <p>jazz</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to rock_vinyls_path, class:"link" do %>
       <%= image_tag(("genre-icons/guitar.png"), class:"icon")%>
        <p>rock</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to afrobeat_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/afrobeat.png"), class:"icon")%>
        <p>afrobeats</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to reggae_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/reggae.png"), class:"icon")%>
        <p>reggae</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to hiphop_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/singing.png"), class:"icon")%>
        <p>hip hop</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to country_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/musician.png"), class:"icon")%>
        <p>country</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to metal_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/metal.png"), class:"icon")%>
        <p>metal</p>
      <%end  %>
    </div>

    <div class="genre-icon">
      <%= link_to electronic_vinyls_path, class:"link" do %>
        <%= image_tag(("genre-icons/dj.png"), class:"icon")%>
        <p>electronic</p>
      <%end  %>
    </div>

  </div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: vinyls_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by Album, Artist and Song"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <div class="row justify-content-center">
    <%if @vinyls.any?%>
      <% @vinyls.each do |vinyl| %>
        <div class="product-card col-4 px-0 m-5">
          <div class= "card-body">
            <div class="wrapper">
              <%= image_tag(("slider.png"), class:"slide-out-record")%>
              <%= link_to vinyl_path(vinyl), class: "link" do %>
              <%= cl_image_tag  vinyl.cover_image.key, class:"index-image"%>
              <% end %>
            </div>
            <h5 class="card-title pt-2 px-3"><%= vinyl.album_title %></h5>
            <p class="card-text px-3 pt-1 pb-2 "> <em>By: <%= vinyl.artist %></em></p>
            <p class="card-text px-3 mb-0"><em>Available from - <strong><%= vinyl.user.first_name %></strong></em></p>
            <h6 class="card-text px-3 pb-1"> <%= vinyl.price %> £/day</h6>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>"Sorry, no matches"</p>
    <% end %>
  </div>
</div>
