
<div class="container">
  <h1>All the vinyls</h1>

  <div class="row">
    <% @vinyls.each do |vinyl| %>
      <div class="col-4">
        <div class= "card-body">
          <%= image_tag  vinyl.cover_image, class:"index-image"%>
          <h5 class="card-title"><%= vinyl.album_title %></h5>
          <p class="card-text"><%= vinyl.artist %>.</p>
          <p class="card-text">available from -<%= vinyl.user.first_name %>.</p>
          <%=  link_to "see more", vinyl_path(vinyl), class:"text-deoration-none"%>
        </div>
      </div>
    <% end %>
  </div>

<%= link_to "Create an offer", new_vinyl_path, class: "link" %>
</div>
