
<div class="container">
  <h1 class ="d-flex justify-content-center">All the vinyls</h1>

  <div class="row justify-content-center">
    <% @vinyls.each do |vinyl| %>
      <div class="product-card col-4 px-0 m-5">
        <div class= "card-body">
          <%= image_tag  vinyl.cover_image, class:"index-image"%>
          <h5 class="card-title py-2"><%= vinyl.album_title %></h5>
          <p class="card-text"> By: <%= vinyl.artist %></p>
          <p class="card-text">available from - <strong><%= vinyl.user.first_name %></strong></p>
          <%=  link_to "see more", vinyl_path(vinyl), class:"text-deoration-none"%>
        </div>
      </div>
    <% end %>
  </div>
