<h1>Create a new add</h1>

<div class="container">
<%= simple_form_for @vinyl do |f| %>
  <%= f.input :album_title %>
   <%=  f.input :cover_image, as: :file %>
  <%= f.input :artist %>
  <%= f.input :release_year, discard_month: true %>
  <%= f.input :genre %>
  <%= f.input :songs %>
  <%= f.input :pickup_adress ,
  input_html: {data: {pickup_address_autocomplete_target: "address"}, class: "d-none"},
  wrapper_html: {data: {controller: "pickup-address-autocomplete",
  pickup_address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>

</div>
