<div class="container">

<h1 class ="d-flex justify-content-center"><%= @vinyl.album_title %></h1>


<%= @vinyl.songs %>

<br>
<br>
<p><%= link_to "ðŸ—‘ï¸", vinyl_path(@vinyl), data: {turbo_method: :delete} %></p>


<p><%= link_to "Modify the add", edit_vinyl_path(@vinyl)%></p>

<p><%= link_to "Book Vinyl", new_vinyl_booking_path(@vinyl)%></p>


</div>
