
<div class="show-page container justify-content-center">

  <h1 class="text-center"><%= @vinyl.album_title %></h1>

  <div class="d-flex">
    <div>
      <%= cl_image_tag  @vinyl.cover_image.key, class:"show-page-image m-5" %>
    </div>
    <div class="map-with-info m-5">
      <div class="d-flex song-info p-1 justify-content-center">
        <p> By: <%=@vinyl.artist%> • </p>
        <p>  runs for <%=@vinyl.length%> minutes • </p>
        <p>  released in <%=@vinyl.release_year.year%></p>
      </div>
      <div class="rounded-3 m-3" style="width: 400px; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>


  <div class="d-flex">

  <div class="tracks my-3 mx-5 p-3">
    <h4>Track list</h4>
    <ul>
      <% track_list = @vinyl.songs.split(',') %>
      <% track_list.each do |track|  %>
        <li> <%= track %></li>
      <% end  %>
    </ul>
  </div>

  <div data-controller="toggle" class=" container booking">
    <button data-action="click->toggle#fire" class="booking-button p-3 m-5"><strong>Book this Vinyl</strong></button>
      <div data-toggle-target="togglableElement", class="d-none mx-5">
        <%= simple_form_for([@vinyl, @booking])  do |f| %>
          <%= f.input :booking_date,
          as: :string,
          input_html: { data: { controller: "datepicker" } }%>
          <%= f.submit %>
        <% end %>
      </div>
  </div>

</div>
