<h1 class="d-flex justify-content-center">Hello <%= current_user.first_name %></h1>

<h2>My vinyls</h2>
<div>
<% @vinyls.each do |vinyl| %>

<%=  vinyl.album_title%>
<p><%= link_to "ðŸ—‘ï¸", booking_path(@bookings), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<p><%= link_to "Modify the add", edit_vinyl_path(vinyl)%></p>
<% end %>

</div>
<h2>My Bookings</h2>
<div>
<% @bookings.each do |booking| %>
<p>----------------------</p>
<p><%= booking.vinyl.album_title %></p>
<p><%= booking.begin_date%> to <%= booking.end_date %></p>
<p><%= link_to "ðŸ—‘ï¸", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<% end %>


</div>

<p><%= link_to "Create an offer", new_vinyl_path %></p>
