
<div class= "container">
  <h1 class="d-flex justify-content-center">Hi <%= current_user.first_name %>,</h1>
  <div>
    <h1 class ="d-flex justify-content-center">All your vinyls</h1>
      <div class="row justify-content-center">
        <% @vinyls.each do |vinyl| %>
          <div class="product-card col-4 px-0 m-5">
            <div class= "card-body">
              <%= link_to vinyl_path(vinyl), class: "link" do %>
              <%= cl_image_tag  vinyl.cover_image.key, class:"index-image"%>
              <% end %>
              <h5 class="card-title py-2 px-3"><%= vinyl.album_title %></h5>
              <p class="card-text px-3"> By: <%= vinyl.artist %></p>
              <p class="card-text px-3 pb-2">available from - <strong><%= vinyl.user.first_name %></strong></p>
            </div>
            <p><%= link_to "Modify the add", edit_vinyl_path(vinyl)%></p>
            <p><%= link_to "ðŸ—‘ï¸", vinyl_path(vinyl), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          </div>
        <% end %>
        <p><%= link_to "Add another", new_vinyl_path %></p>
    </div>

<div class="row justify-content-center">
<h2>My Bookings</h2>
    <% @bookings.each do |booking| %>
      <div class="product-card col-4 px-0 m-5">
        <div class= "card-body">
          <%= image_tag  booking.vinyl.cover_image, class:"index-image"%>
          <h5 class="card-title py-2"><%= booking.vinyl.album_title %></h5>
          <h6 class="card-title py-2"><%= booking.begin_date%> to <%= booking.end_date %></h6>
          <p><%= link_to "ðŸ—‘ï¸", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        </div>
      </div>
    <% end %>
