<div class="navbar-container left-12" id="mySidebar" data-controller="toggle">
<%# take line out if not working %>
  <% if user_signed_in? %>
  <div class="navbar-container-children">
    <ul class="navbar-unordered-list">
      <%# Home Link %>
      <li class="navbar-list-item">
        <button class="navbar-button top-of-page">
          <%= link_to "Home", vinyls_path, class: "nav-link" %>
        </button>
      </li>
      <%# Dashboard Link %>
      <li class="navbar-list-item">
        <button class="navbar-button">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </button>
      </li>
    </ul>
  </div>
  <%# Vinyl overflow button %>
  <div class="navbar-container-children">
    <div class="vinyl-div closebtn" id='reload' data-action="scroll->toggle#openNav"></div>
  </div>
  <%# Log Out Link %>
  <div class="navbar-container-children bottom-of-page">
    <button class="navbar-button log-out">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </button>
  </div>
  <% else %>
  <div class="navbar-container-children">
    <ul class="navbar-unordered-list">
      <li class="navbar-list-item">
        <button class="navbar-button top-of-page">
          <%= link_to "Home", vinyls_path, class: "nav-link" %>
        </button>
      </li>
    </ul>
  </div>
  <%# Vinyl overflow button %>
  <div class="navbar-container-children">
    <div class="vinyl-div closebtn" data-action="click->toggle#openNav" id='reload'></div>
  </div>
  <div class="navbar-container-children">
    <ul class="navbar-unordered-list">
      <li class="navbar-list-item" id="navbar-bottom-login">
        <button class="navbar-button log-in"><%= link_to "Login", new_user_session_path, class: "nav-link" %></button>
      </li>
      <li class="navbar-list-item" id="navbar-bottom-login">
        <button class="navbar-button sign-up"><%= link_to "Sign Up", new_user_session_path, class: "nav-link" %></button>
      </li>
    </ul>
  </div>
  <% end %>
</div>
