<div class="container landing-page text-center">
  <%# <div class="vinyl-background"></div> %>
  <%= image_tag "rhythm-records-vinyl.png", class: "vinyl-background" %>
  <%= image_tag "click-me.png", class: "click-me" %>
  <div class="landing-page-text">
    <h1 class='catchphrase'>DON'T LET GOOD MUSIC STAND BY</h1>
    <h3 class='top-picks'>Top Picks</h3>
  </div>
  <%# Album Photos %>
  <div class="row justify-content-center" style='margin-bottom: 12px;'>
    <% @suggested_vinyls.each do |vinyl| %>
      <div class="product-card col-3 px-0 m-2">
        <div class= "card-body">
          <%= link_to vinyl_path(vinyl), class: "link" do %>
            <% if vinyl.cover_image.attached? %>
              <%= cl_image_tag  vinyl.cover_image.key, class:"index-image"%>
            <% else %>
              <%= image_tag  "https://images.unsplash.com/photo-1535992165812-68d1861aa71e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3180&q=80", class:"index-image"%>
            <% end %>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
</div>
