<div class="container landing-page text-center">
  <%# <div class="vinyl-background"></div> %>
  <%= image_tag "rhythm-records-vinyl.png", class: "vinyl-background" %>
  <%# <h1> <em>Don't let good music stand by</em></h1> %>
  <div class="row justify-content-center">
    <% @suggested_vinyls.each do |vinyl| %>
    <div class="product-card col-3 px-0 m-2">
      <div class= "card-body">
          <%= link_to vinyl_path(vinyl), class: "link" do %>
          <%= cl_image_tag  vinyl.cover_image.key, class:"index-image"%>
          <% end %>
          <h5 class="card-title pt-2 px-3"><%= vinyl.album_title %></h5>
          <p class="card-text px-3 pt-1 pb-2 "> <em>By: <%= vinyl.artist %></em></p>
          <p class="card-text px-3 mb-0"><em>Available from - <strong><%= vinyl.user.first_name %></strong></em></p>
          <h6 class="card-text px-3 pb-1"> <%= vinyl.price %> £/day</h6>
       </div>
      </div>
          <%end%>
    </div>
  </div>
</div>
